@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: white;
  --foreground: black;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
} */
