@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

*::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}
*::-webkit-scrollbar-thumb {
  background: #c6c6c6 !important;
  border-radius: 10px !important;
}
/* *::-webkit-scrollbar-thumb:hover {
  background: rgba(198,198,198, 1) !important;
  border-radius: 10px !important;
} */
*::-webkit-scrollbar-corner {
  background: transparent !important;
}

@layer components {
  .content-wrapper {
    @apply max-w-xs break-words md:max-w-lg lg:max-w-xl xl:max-w-2xl;
  }
}

/* 覆盖 nextui 默认样式，更推荐在 tailwind.config.js 中覆盖 */
/* :root {
  --background: theme('colors.white');
  --background-secondary: theme('colors.gray.50');

  --primary-dark: theme('colors.gray.900');
  --primary-medium: theme('colors.gray.700');
  --primary-light: theme('colors.gray.500');

  --nextui-background: theme('colors.red.900');
} */
/* dark theme styles go here */
/* [data-theme='dark'] {
  --nextui-background: theme('colors.gray.900');
  --background-secondary: theme('colors.gray.800');

  --primary-dark: theme('colors.gray.300');
  --primary-medium: theme('colors.gray.200');
  --primary-light: theme('colors.gray.100');
} */

/* pink theme styles go here */
/* [data-theme='pink'] {
  --background: theme('colors.gray.900');
  --background-secondary: theme('colors.gray.800');

  --primary-dark: theme('colors.gray.300');
  --primary-medium: theme('colors.gray.200');
  --primary-light: theme('colors.gray.100');
} */
